@import 'universal';

#development-section {
  background-color: $accent-color;
  width: 100%;
  height: 500px;
}

#development-wrapper {
  border: 2px blue solid;
  width: 100%;
  height: 300px;
}

#development-title h2 {
  
}